APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=core_saas_turnos
DB_USERNAME=root
DB_PASSWORD=123456

JWT_SECRET=hola123
JWT_TTL=3600
JWT_REFRESH_TTL=1209600

MAIL_DRIVER=log
MAIL_FROM_ADDRESS=no-reply@tunegocio.com
MAIL_FROM_NAME="Plataforma de Turnos"
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls